  /* <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: '#10B981',
            secondary: '#6EE7B7',
            background: '#ECFDF5',
            textc: '#064E3B',
            accent: '#34D399',
          }
        }
      }
    }
  </script> */